<div class="list-title">
    <h2>Welcome back!</h2>
</div>

<form method="POST" action="/auth/login" class="form-login">
  <label for="inputUser" class="sr-only">Username</label>
  <input id="inputUser" class="field form-control" type="text" name="username" placeholder="Username"/>

  <label for="inputPassword" class="sr-only">Password</label>
  <input id="inputPassword" class="field form-control" type="password" name="password" placeholder="Password"/> 
  {{ message }}
  <div class="field submit div-login">
    <button type="submit" class="btn btn-lg btn-primary btn-block btn-login">Log in</button>
  </div>
</form>