<div class="list-title">
    <h2>GROUPS</h2>
</div>





<div class="search-container">
	<div class="row">
        <div class="col-md-6">
    		<h2>Custom search field</h2>
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" placeholder="Buscar" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
	</div>
</div>








<ul class="groups-list">
    {{#each groups}}
    <div class="groups-item">
        <div class="card">
          <a href="/groups/{{ this._id }}" >{{ name }}</a>
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Members
          </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            {{#each members}}
              <a class="dropdown-item" href="/profile/{{ this._id }}">{{ this.username }}</a>
            {{/each}}
          </div>
        </div>
    </div>
    {{/each}}
</ul>