<section class="index">  
  <div id="carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div id="carousel-item-1" class="carousel-item active">
        <div class="carousel-caption d-md-block">
          <h1>RUNOUTS</h1>
        </div>
      </div>
      <div id="carousel-item-2" class="carousel-item">
      </div>
      <div id="carousel-item-3" class="carousel-item">
      </div>
      <div id="carousel-item-4" class="carousel-item">
      </div>
      <div id="carousel-item-5" class="carousel-item">
      </div>
      <div id="carousel-item-6" class="carousel-item">
      </div>
      <div id="carousel-item-7" class="carousel-item">
      </div>
      <div id="carousel-item-8" class="carousel-item">
      </div>
      <div id="carousel-item-9" class="carousel-item">
      </div>
      <div id="carousel-item-10" class="carousel-item">
      </div>
    </div>
  </div>

  <div id="groups-card" class="card">
    <div class="card-body">
      <h2 class="card-title">Groups</h2>
      <p class="card-text">Create a group or find one to join it</p>
    </div>
    <a href="/groups"><img class="card-info-img" alt="groups info" src="/images/arrow1.png"></a>
  </div>

  <div id="users-card" class="card">
    <div class="card-body">
      <h2 class="card-title">Users</h2>
      <p class="card-text">Find your friends and join their groups</p>
    </div>
    <a href="/users"><img class="card-info-img" alt="users info" src="/images/arrow1.png"></a>
  </div>
</section>