{{!-- <label for="inputUser" class="sr-only">Username</label> --}}
<section class="profile-container">
  <img src="/images/profile.png" alt="" class="profile-img">
  <h2>{{ user.username }}</h2>
  <p>{{ user.email }}</p>
  <div class="profile-groups-title-container">
    <h4>My Groups</h4>
    <a href="/groups/add" class="btn btn-success button-add" role="button" aria-pressed="true">+</a>
  
  </div>
  <ul>
    {{#each groups}}
      <div class="card">
        <div class="card-body">
          <a class="card-title" href="/groups/{{ this._id }}">{{ this.name }}</a>
        </div>
      </div>
    {{/each}}
  </ul>
</section>




