<h3>{{ user.username }}</h3>
{{!-- <button type="button" class="btn btn-success button-add">+</button> --}}
<a href="/groups/add" class="btn btn-success button-add" role="button" aria-pressed="true">+</a>

<ul>
  {{#each groups}}
    <div class="card">
      <div class="card-body">
        <a class="card-title" href="/groups/{{ this._id }}">{{ this.name }}</a>
      </div>
    </div>
  {{/each}}
</ul>



