<h3>Users</h3>
<ul class="users-list">
    {{#each users}}
    <div class="users-item">
        <div class="card">
            <img src="/images/profile.png" alt="" class="profile-img">
            <a href="/profile/{{ this._id }}">{{ username }}</a>
        </div>
    </div>
    {{/each}}
</ul>