/*reset*/
p {
  margin: 0;
}

h1 {
  font-family: 'Facon'; 
  src: url('../fonts/Facon.rtf');
}

body {
  padding-top: 56px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar-brand {
  font-family: 'Facon'; 
  src: url('../fonts/Facon.rtf');
}

.carousel, .carousel-inner .carousel-item {
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-caption {
  top: 20px;
  bottom: auto;
}

#carousel-item-1 {
  background-image: url("../images/image_1.jpg");
}

#carousel-item-2 {
  background-image: url("../images/image_2.jpg");
}

#carousel-item-3 {
  background-image: url("../images/image_3.jpg");
}

#carousel-item-4 {
  background-image: url("../images/image_4.png");
}

#carousel-item-5 {
  background-image: url("../images/image_5.jpg");
}

#carousel-item-6 {
  background-image: url("../images/image_6.jpg");
}

#carousel-item-7 {
  background-image: url("../images/image_7.jpg");
}

#carousel-item-8 {
  background-image: url("../images/image_8.jpg");
}

#carousel-item-9 {
  background-image: url("../images/image_9.jpg");
}

#carousel-item-10 {
  background-image: url("../images/image_10.jpg");
}

.current-user {
  color: white; 
  font-size: 1rem;
}
.index {
  display: flex;
  flex-direction: column;
}

.card {
  width: 100%;
}

.group-item {
  margin: 20px 0;
}